<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Confirmation de paiement</title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Confirmation de paiement </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons que votre paiement a été effectué avec succès.</p>
  
  <h2>Détails du paiement :</h2>
  <ul>
    <li>Montant : {{ amount }} EUR</li>
    <li>Date : {{ paymentDate }}</li>
    <li>Méthode de paiement : {{ paymentMethod }}</li>
  </ul>

<h2>Retour de service :</h2>
<p>Notre équipe est actuellement en train de traiter votre commande.</p>
<p>Un email vous sera envoyé pour vous informer dès que votre commande sera prête.</p>
<p>Vous pouvez également suivre l'avancement de votre commande sur notre site internet en cliquant sur ce lien : <a href="https://click-and-raquette.com/détails_commande/{{idOrder}}">Suivi de commande</a>.</p>
  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
